{# Allows create/read on the Dates table #}
{#
CS340 Portfolio Project
Citation for the following function: Holistic citation for CRUD operations in Flask (followed guide)
Date: 6/1/2022
Copied from /OR/ Adapted from /OR/ Based on: The OSU CS340 Flask Guide
Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app
#}

<html>
<head>
<title>Dates</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript">
		function showform(dowhat) {
			/*
			* four DIVS: browse, insert, update, delete
			* this function sets one visible the others not
			*/
			if (dowhat == 'insert'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'update'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'delete'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'block';
			}
      else if (dowhat == 'all'){
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'block';
			}
			else { //by default display browse
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
		}
    function newDate() { showform('insert'); }
    function updateDate(pid) { showform('update'); }
    function deleteDate(pid) { showform ('delete'); }
    function browseDates() { showform ('browse'); }
    function showAll() { showform ('all'); }
</script>
</head>

<body onload="browseDates()">
    <h1>Dates</h1>
    <h2>Manage the dates the park is in operation. </h2>
    [
    <a href="home">Home Page</a> |
    <a href="guests">Guests</a> |
    <a href="orders">Orders</a> |
    <a href="attractions">Attractions</a> |
    <a href="dates">Dates</a> |
    <a href="guests_has_attractions">Rides Ridden by Guests</a> |
    <a href="master_table">Master Table</a>
    ]

    <div id="browse"
    <p> </p>
    <p>Dates</p>

<table border="1" cellpadding="5">
            <!-- Access data tuple passed from app.py --> 
            {% if dates %}
			    <thead>
				    <tr>
					    <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in dates[0].keys() %}
					    
                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
					    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
					
                        <!-- End of this for loop -->
                        {% endfor %} 
                        <th colspan = "2"> Modify </th>
                    </tr>

				<tbody>
					<!-- Now, iterate through every item in data -->{% for date in dates %}
					    <tr>
						    <!-- Then iterate through every key in the current item dictionary -->
                            {% for key in date.keys() %}

						    <!-- Create a <td> element with the value of that key in it -->
						    <td> {{date[key]}} </td> 
                            {% endfor %}

                            <!-- Create our edit/delete buttons -->
						    <td><a href="edit_date/{{date.date}}" class="btn btn-default">Edit</a></td>
						    <td><a href="delete_date/{{date.date}}" class="btn btn-default">Delete</a></td>

					    </tr> 
                        {% endfor %} 
                {% endif %} 
        </table>   

    
    <p></p>
    <input type="submit" value="Add Date" onClick="newDate()">
    </div> <!-- end of browse -->
    <div id="insert">
        <form method="POST" id="addDate">
            <p></p>
            <legend><strong>Add Date</strong></legend>
                <fieldset class="fields">
                <label> Date: </label> <input type="date" name="date" required>
                <label> Weather: </label> <input type="text" name="weather" required>
                <label> Day of Week: </label> <input type="text" name="day_of_week" required> 

                <label> Holiday? </label> <select name="holiday" required>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
          </fieldset>
              <input class="btn" type="submit" id="addDate" value="Add Date">
              <input class="btn" type="button" value="Cancel" onClick="browseDates()">
        </form> 
    </div><!-- insert -->
    <p>&nbsp;</p>
    <div id="update">
        <form method="POST" id="updateDate">
            <legend><strong>Update Date</strong></legend>
              <fieldset class="fields">
              <input type="hidden" name="Date ID" id="updatedateID" value="1">
                <label> Date: </label> <input type="date" name="date" value="2022-04-23" required>
                <label> Weather: </label> <input type="weather" name="weather" value ="Sunny" required>
                <label> Holiday? </label> <select name="holiday" value="0" required>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
          </fieldset>
              <input class="btn" type="submit" id="UpdateSaveDate" value="Save Update Date">
              <input class="btn" type="button" value="Cancel" onClick="browseDates()">
        </form> 
    </div><!-- update -->
    <p>&nbsp;</p>

</body>
</html>