{# Allows editing on the Guests table #}
{#
CS340 Portfolio Project
Citation for the following function: Holistic citation for CRUD operations in Flask (followed guide)
Date: 6/1/2022
Copied from /OR/ Adapted from /OR/ Based on: The OSU CS340 Flask Guide
Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app
#}

<html>
<head>
	<title>Edit Guest</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div>
        <table border="1" cellpadding="5">
            <!-- Access data tuple passed from app.py --> 
            {% if guests %}
			    <thead>
				    <tr>
					    <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in guests[0].keys() %}
					    
                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
					    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
					
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>

				<tbody>
					<!-- Now, iterate through every item in data -->{% for guest in guests %}
					    <tr>
						    <!-- Then iterate through every key in the current item dictionary -->
                            {% for key in guest.keys() %}

						    <!-- Create a <td> element with the value of that key in it -->
						    <td> {{guest[key]}} </td> 
                            {% endfor %}
					    </tr> 
                        {% endfor %} 
            {% endif %} 
        </table>   

        <div id="update">
            <!-- form to edit data in guests-->
            <form id="updateGuest" action="/edit_guest/{{data[0].guest_id}}" method="post">
                <legend><strong>Edit Guest</strong></legend>
                <fieldset>
                    <input type="hidden" value="{{data[0].guest_id}}" class="form-control" id="guest_id" name="guest_id" required>
                    
                    <label for="guest_name">Name:</label>
                    <input type="text" value="{{data[0].guest_name}}" class="form-control" id="guest_name" name="guest_name" pattern="^[a-zA-Z]+( [a-zA-Z]+)*$" required>

                    {# Citation for the following function:
                    ## Date: 6/1/2022
                    ## Copied from /OR/ Adapted from /OR/ Based on: Copied from regex answer (how to format email type) on StackOverflow
                    ## Source URL: https://stackoverflow.com/questions/5601647/html5-email-input-pattern-attribute
                    #}
                    <label for="email">Email:</label>
                    <input type="email" value="{{data[0].email}}" class="form-control" id="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>

                    <label for="phone_num">Phone Number:</label>
                    <input type="text" value="{{data[0].phone_num}}" class="form-control" id="phone_num" name="phone_num" pattern="[A-Za-z0-9]{1,}">
                
                </fieldset>
                <input type="submit" value="Save Update Guest" name="edit_guest" class="btn btn-primary" style="margin:.5rem;">
                <a href='/guests'><input class="btn" type="button" value="cancel"></a>
            </form>

</html>