<html>

<head>
	<title>Edit guest_has_attractions</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div>
        <table border="1" cellpadding="5">
            <!-- Access data tuple passed from app.py --> 
            {% if guest_has_attractions %}
			    <thead>
				    <tr>
					    <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in guest_has_attractions[0].keys() %}
					    
                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
					    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
					
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>

				<tbody>
					<!-- Now, iterate through every item in data -->{% for gha in guest_has_attractions %}
					    <tr>
						    <!-- Then iterate through every key in the current item dictionary -->
                            {% for key in guest_has_attractions.keys() %}

						    <!-- Create a <td> element with the value of that key in it -->
						    <td> {{gha[key]}} </td> 
                            {% endfor %}
					    </tr> 
                        {% endfor %} 
            {% endif %} 
        </table>   

        <div id="update">
            <!-- form to edit data in bsg_people-->
            <form id="updateGHA" action="/edit_guest_has_attractions/{{data[0].guest_id}}" method="post">
                <legend><strong>Edit guest_has_attractions</strong></legend>
                <fieldset>
                    <input type="hidden" value="{{data[0].guest_id}}" class="form-control" id="guest_id" name="guest_id" required>
                    
                    <label for="guest_name">Name:</label>
                    <input type="text" value="{{data[0].guest_name}}" class="form-control" id="guest_name" name="guest_name" pattern="[A-Za-z]{1,}" required>

                    <label for="email">Email:</label>
                    <input type="text" value="{{data[0].email}}" class="form-control" id="email" name="email" pattern="[A-Za-z0-9]{1,}" required>

                    <label for="phone_num">Phone Number:</label>
                    <input type="text" value="{{data[0].phone_num}}" class="form-control" id="phone_num" name="phone_num" pattern="[A-Za-z0-9]{1,}">
                
                </fieldset>
                <input type="submit" value="Save Update Guest" name="edit_guest" class="btn btn-primary" style="margin:.5rem;">
                <a href='/people'><input class="btn" type="button" value="cancel"></a>
            </form>
</html>