{# Allows editing on the master_table table #}
{#
CS340 Portfolio Project
Citation for the following function: Holistic citation for CRUD operations in Flask (followed guide)
Date: 6/1/2022
Copied from /OR/ Adapted from /OR/ Based on: Copied from The OSU CS340 Flask Guide
Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app
#}

<html>
<head>
	<title>Edit Master Table</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <h1>Master Table (Daily Data Collection)</h1>
    <h2>View the master records for the park categorized and accumulated by day.</h2>
    [
    <a href="home">Home Page</a> |
    <a href="guests">Guests</a> |
    <a href="orders">Orders</a> |
    <a href="attractions">Attractions</a> |
    <a href="dates">Dates</a> |
    <a href="guests_has_attractions">Rides Ridden by Guests</a> |
    <a href="master_table">Master Table</a>
    ]
 

    <p> </p>
    <div>
        <table border="1" cellpadding="5">
            <!-- Access data tuple passed from app.py --> 
            {% if master_table %}
			    <thead>
				    <tr>
					    <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in mt[0].keys() %}
					    
                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
					    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
					
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>

				<tbody>
					<!-- Now, iterate through every item in data -->{% for table in master_table %}
					    <tr>
						    <!-- Then iterate through every key in the current item dictionary -->
                            {% for key in table.keys() %}

						    <!-- Create a <td> element with the value of that key in it -->
						    <td> {{table[key]}} </td> 
                            {% endfor %}
					    </tr> 
                        {% endfor %} 
            {% endif %} 
        </table>   

        <div id="update">
            <!-- form to edit data in master_table-->
            <form id="updateMasterTable" action="/edit_master_table/{{data[0].table_id}}" method="post">
                <legend><strong>Edit Master Table</strong></legend>
                <fieldset>
                    <input type="hidden" value="{{data[0].table_id}}" class="form-control" id="table_id" name="table_id" required>

                    <label for="total_guests">Total Guests</label>
                    <input type="text" value="{{data[0].total_guests}}" class="form-control" id="total_guests" name="total_guests" pattern="{1-9}" required>

                    <label for="total_riders">Total Riders</label>
                    <input type="text" value="{{data[0].total_riders}}" class="form-control" id="total_riders" name="total_riders" pattern="{1-9}">

                    <label for="date">Date:</label>
                    <select required name="date" id="date">
                        {% for date in dates %}
                            {% if date['date'] == data[0].date %}
                                <option value="{{ date['date'] }}" selected>{{ date['date'] }}</option>
                            {% else %}
                                <option value="{{ date['date'] }}">{{ date['date'] }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>

                </fieldset>
                <input type="submit" value="Save Master Table" name="edit_master_table" class="btn btn-primary" style="margin:.5rem;">
                <a href='/master_table'><input class="btn" type="button" value="cancel"></a>
            </form>
</html>
