<html>
<head>
<title>Attractions/Guests Intersection </title>
<link href="style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript">
		function showform(dowhat) {
			/*
			* four DIVS: browse, insert, update, delete
			* this function sets one visible the others not
			*/
			if (dowhat == 'insert'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'update'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'delete'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'block';
			}
      else if (dowhat == 'all'){
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'block';
			}
			else { //by default display browse
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
		}
    function newAttrGuest() { showform('insert'); }
    function updateAttrGuest(pid) { showform('update'); }
    function deleteAttrGuest(pid) { showform ('delete'); }
    function browseAttrGuest() { showform ('browse'); }
    function showAll() { showform ('all'); }
</script>
</head>

<body onload="browseAttrGuest()">
    <h1> Rides Ridden By Guests </h1>
    <h2>A table to see what guests have ridden what rides and on what days!</h2>
    [
    <a href="home">Home Page</a> |
    <a href="guests">Guests</a> |
    <a href="orders">Orders</a> |
    <a href="attractions">Attractions</a> |
    <a href="dates">Dates</a> |
    <a href="guests_has_attractions">Rides Ridden by Guests</a> |
    <a href="master_table">Master Table</a>
    ]

    <div id="browse"
    <p> </p>
    <p>Rides Ridden By Guests</p>

<table border="1" cellpadding="5">
            <!-- Access data tuple passed from app.py --> 
            {% if guests_has_attractions %}
			    <thead>
				    <tr>
					    <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in guests_has_attractions[0].keys() %}
					    
                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
					    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
					
                        <!-- End of this for loop -->
                        {% endfor %} 
                        <th colspan = "2"> Modify </th>
                    </tr>
				<tbody>
					<!-- Now, iterate through every item in data -->{% for attr in guests_has_attractions %}
					    <tr>
						    <!-- Then iterate through every key in the current item dictionary -->
                            {% for key in attr.keys() %}

						    <!-- Create a guest_has_attraction<td> element with the value of that key in it -->
						    <td> {{attr[key]}} </td> 
                            {% endfor %}

                            <!-- Create our edit/delete buttons -->
						    <td><a href="edit_ride/{{attr.guest_id}}" class="btn btn-default">Edit</a></td>
						    <td><a href="delete_ride/{{attr.guest_id}}" class="btn btn-default">Delete</a></td>
					    </tr> 
                        {% endfor %} 
                {% endif %} 
        </table>   

    <p></p>
    <p></p>
    <input type="submit" value="Add Guest/Ride Interaction" onClick="newAttrGuest()">
    </div> <!-- end of browse -->
    <div id="insert">
        <form method="POST" id="add_intersection">
            <p></p>
            <legend><strong>Add Guest/Ride Interaction</strong></legend>
              <fieldset class="fields">
                <label> Ride ID </label> <input type="number" name="ride_id" required>
                <label> Date </label> <input type="date" name="date_created" required>
                <label> Guest ID </label> <input type="number" name="guest_id" required>
          </fieldset>
              <input class="btn" type="submit" id="addRide" value="Add Ride">
              <input class="btn" type="button" value="Cancel" onClick="browseAttrGuest()">
        </form> 
    </div><!-- insert -->

    <p>&nbsp;</p>
    <div id="update">
        <form method="POST" id="updateAttrGuest">
            <legend><strong>Update Guest/Ride Interaction</strong></legend>
              <fieldset class="fields">
              <input type="hidden" name="Ride ID" id="updaterideID" value="1">
                <label> Ride ID: </label> <input type="number" name="ride_id" value="1" required>
                <label> Date: </label> <input type="date" name="ride_name" value="2022-04-23" required>
                <label> Guest ID: </label> <input type="number" name="guest_id" value="15" required>
          </fieldset>
              <input class="btn" type="submit" id="UpdateSaveRide" value="Save Update Intersection">
              <input class="btn" type="button" value="Cancel" onClick="browseAttrGuest()">
        </form> 
    </div><!-- update -->
    <p>&nbsp;</p>
    <div id="delete" style="display: block">
      <form method="POST" id="deleteRide">
          <legend><strong>Delete Guest/Ride Interaction</strong></legend>
              <fieldset class="fields">
              <p>Are you sure you wish to delete the following?</p>
              <input type="hidden" name="guest_ride" id="deleteIntersection" value="1">
              <label><strong>Ride ID:</strong></label> 1
                <label> <strong>Date:</strong> </label> 2022-04-23
                <label> <strong>Guest ID:</strong> </label> 15
                
        </fieldset>
        <input class="btn" type="submit" id="DeleteRide" value="Delete Intersection">
              <input class="btn" type="button" value="Cancel" onClick="browseAttrGuest()">
      </form> 
    </div>
</body>
</html>