{# Allows rendering of the homepage #}
{#
CS340 Portfolio Project
Citation for the following function: Holistic citation for CRUD operations in Flask (followed guide)
Date: 6/1/2022
Copied from /OR/ Adapted from /OR/ Based on: The OSU CS340 Flask Guide
Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app
#}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Cascade Castles</title>
</head>
<body>
    <h1>Cascade Castles: Portland</h1>
    <h2>Welcome to Cascade Castles: Portland, the best theme park in the PNW!</h2>
    <h3> Please select an option below. </h3>

    [
    <a href="home">Home Page</a> |
    <a href="guests">Guests</a> |
    <a href="orders">Orders</a> |
    <a href="attractions">Attractions</a> |
    <a href="dates">Dates</a> |
    <a href="guests_has_attractions">Rides Ridden by Guests</a> |
    <a href="master_table">Master Table</a>
    ]


</body>
</html>